
@model Finial_Project_RealEstateWebPage.Models.PropertyShowing

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
    ViewData["Title"] = "HomeViewing";
}
<!DOCTYPE html>

<html>
<head>
    <title>
        DashBord
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/HomeViewing.css" />

</head>

<body>
    <header>
        <a href="javascript:history.back()">Back</a>
    </header>
    <div class="titleContainer">
        <div id="PageName">
            <h1>Mr.Home's</h1>
            <p>The best deals in town!!</p>
        </div>
    </div>
    @*Learing Opportuinity *@
        <div class="homeDashboard container mt-4">
            <div class="row gx-3 gy-5">
                @if (ViewBag.RelatorHomeShowing != null && ViewBag.RelatorHomeShowing.Count > 0)
                {
                    @foreach (var home in (List<Finial_Project_RealEstateWebPage.Models.PropertyShowing>)ViewBag.RelatorHomeShowing)
                    {
                        <div class="col-md-4 d-flex align-items-stretch">
                            <div class="card h-100 d-flex flex-column">
                                <div class="card-body">
                                    <h5 class="card-title">@home.FullName</h5>
                                    <p class="card-text">
                                        @home.Email
                                        @home.PhoneNumber
                                        @home.Date
                                        @home.Time
                                        <br />
                                    </p>
                                </div>
                                <div class="card-footer mt-auto text-center">
                                    <a asp-action="ViewRealtorSelectedPropertyInfo" asp-controller="Realtor" asp-route-id="@home.PropertyID" class="btn btn-primary w-100">
                                        View More
                                    </a>
                                </div>

                                <div class="card-footer mt-auto text-center">

                                    <form asp-action="DeleteHomeSowingRequest" asp-controller="PropertyOffer" method="post">
                                        <input type="hidden" name="id" value="@home.HomeShowingID" />
                                        <button type="submit" class="btn btn-primary w-100">Cancel Appointment</button>
                                    </form>

                                </div>

                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No homes available to display.</p>
                }
            </div>
        </div>
</body>



</html>

