@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Finial_Project_RealEstateWebPage.Models.Login

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;

    ViewData["Title"] = "Agent";
}

<!DOCTYPE html>

<html>
<head>
    <title>
        Login
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* <link rel="stylesheet" href="~/css/LoginPage.css" /> *@

</head>
<body>
    <h1>
        This is the Agnet Agent Oage After the Login 
    </h1>
    <br />
    <br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Asking Price</th>
                <th>Details</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var property in Model)
            {
                <tr>
                    <td>@property.AskingPrice.ToString("C")</td>
                    <td>
                        @property.BedRooms Bed, @property.Bathrooms Bath, Size: @property.HomeSize sqft
                    </td>
                    <td>
                        @property.BuildingNumber, @property.Street, @property.City, @property.State @property.ZipCode
                    </td>
                    <td>
                        <a asp-action="ViewMore" asp-route-id="@property.PropertyID" class="btn btn-primary btn-sm">View More</a>
                        <a asp-action="ManageProperty" asp-route-id="@property.PropertyID" class="btn btn-secondary btn-sm">Manage Property</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>

</html>
