@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Finial_Project_RealEstateWebPage.Models.Home

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;

    ViewData["Title"] = "HomePage";
}

<!DOCTYPE html>

<html>
<head>
    <title>
        DashBord
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <br />
    <br />

    <div class="titleContainer">
        <div id="PageName">
            <h1>Mr.Home's</h1>
            <p>The best deals in town!!</p>
        </div>

        <div class="buttonContainer">
            <form asp-action="Login" asp-controller="Account" method="get" style="display: inline;">
                <button type="submit" class="btnAccount">Login</button>
            </form>
            <form asp-action="SignUp" asp-controller="Account" method="get" style="display: inline;">
                <button type="submit" class="btnAccount">Sign Up</button>
            </form>
        </div>

    </div>

    <div class="homeDashboard">
        <table class="table">
            <thead>
            <tr>
                <th>PropertyImages:</th>
                <th>AskingPrice:</th>
                <th>BedRooms:</th>
                <th>BathRooms:</th>
                <th>HomeSize:</th>
                <th>Street:</th>
                <th>City:</th>
                <th>State:</th>
                <th>Zip:</th>

            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="Model.PropertyImages" class="img-homeFront" />
                    </td>
                    <td>
                        @Model.AskingPrice.ToString("C2")
                    </td>
                    <td>
                        @Model.BedRooms
                    </td>
                    <td>
                        @Model.BathRooms
                    </td>
                    <td>
                        @Model.HomeSize
                    </td>
                    <td>
                        @Model.Street
                    </td>
                    <td>
                        @Model.City
                    </td>
                    <td>
                        @Model.State
                    </td>
                    <td>
                        @Model.Zip
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>
