@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Finial_Project_RealEstateWebPage.Models.PropertyDetails

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;

    ViewData["Title"] = "RelatorPage";
}

<!DOCTYPE html>

<html>
<head>
    <title>
        DashBord
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/nav.css" />
    <link rel="stylesheet" href="~/css/ViewHome.css" />

    
</head>

<body>
    <header>
        <nav class="custom-navbar">
            <div class="container">
                <a class="brand">Mr.Home's</a>
                <ul class="nav-links">
                    <li><a href="/ViewHome/SechduleHomeShowing/@Model.HomeInfo.PropertyID">Schedule Home Showing</a></li>
                    <li><a href="/PropertyOffer/MakePropertyOffer/@Model.HomeInfo.PropertyID"> Make an Offers</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <a href="/Home/HomePageRun">Back to Main Page</a>

    <div class="homeDashboard">
        <div class="row">
            @if (Model.HomeInfo.BuildingNumber != null)
            {
               // var home = (HomeInfo)ViewBag.RelatorHome;
                <!-- Explicitly cast ViewBag -->
                <div class="property">
                    <div class="card-body">
                        <p class="card-text">
                            <h1>@Model.HomeInfo.AskingPrice.ToString("C2") </h1>
                            <h2> @Model.HomeInfo.BuildingNumber @Model.HomeInfo.Street, @Model.HomeInfo.City, @Model.HomeInfo.State, @Model.HomeInfo.ZipCode</h2>
                            <h3>
                                @Model.HomeInfo.BedRooms <strong>beds </strong> @Model.HomeInfo.BathRooms <strong>baths </strong> @Model.HomeInfo.HomeSize <strong>sqft </strong> <br />
                            </h3>
                        </p>
                        <div id="days">
                            @Model.Home.DaysAvliabeOnMarket
                        </div>
                        <div id="status">
                            @Model.Home.PropertyStatus
                        </div>
                        <p class="card-text">
                            Property Type: @Model.HomeInfo.PropertyType <br />
                            Built in @Model.HomeInfo.YearBuilt <br />
                            Heating Type: @Model.HomeInfo.Heating<br />
                            Cooling Type: @Model.HomeInfo.Cooling<br />
                            Grage: @Model.HomeInfo.Garage<br>
                        </p>

                        <h4>Available Amenities</h4>
                        @if (Model.HomeInfo.HomeAmenities != null)
                        {
                            <ul>
                                @foreach (var amenity in Model.HomeInfo.HomeAmenities.SelectedAmenities)
                                {
                                    <li>@amenity</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>No amenities available.</p>
                        }
                        <h4>Available Utility</h4>
                        @if (Model.HomeInfo.HomeUtility != null)
                        {
                            <ul>
                                @foreach (var utility in Model.HomeInfo.HomeUtility.SelectedUtility)
                                {
                                    <li>@utility</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>No utility available.</p>
                        }
                        @if (Model.HomeInfo.HomeRooms != null)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Room Name</th>
                                        <th>Length</th>
                                        <th>Width</th>
                                        <th>Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                  @foreach (var room in Model.HomeInfo.HomeRooms)
            {
                <tr>
                    <td>@room.RoomName</td>
                    <td>@room.Length</td>
                    <td>@room.Width</td>
                    <td>
                        @foreach (var propertyImage in Models.PropertyImage)
                        {
                            if (propertyImage.PropertyID == room.PropertyID)
                            {
                                <img src="@propertyImage.ImageName" alt="Load Image" />
                            }
                        }
                         </td>
                         </tr>
                         }

                            </tbody>
                            </table>
                        }
                        else
                        {
                            <p>No rooms available.</p>
                        }
                        <div class="mt-5">
                            <h3>Price History</h3>
                            @if (ViewBag.PriceHistory != null && ((List<string>)ViewBag.PriceHistory).Count > 0)
                            {
                                <ul>
                                    @foreach (var line in (List<string>)ViewBag.PriceHistory)
                                    {
                                        @line
                                        <br> </br>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p>No price history available for this property.</p>
                            }
                        </div>
                        <p>
                         Description<br/>
                            @Model.HomeInfo.Description
                        </p>

                        <p>
                            <h3>
                                User Review.
                            </h3>
                            @if (ViewBag.UserReview != null && ((List<string>)ViewBag.UserReview).Count > 0)
                            {
                                <ul>
                                    @foreach (var line in (List<string>)ViewBag.UserReview)
                                    {
                                        @line
                                        <br></br>
                                    }
                                </ul>
                            }
                            else
                            {
                            <p>No price history available for this property.</p>
                            }

                        </p>
                        <form asp-controller="Home" asp-action="GetReview" method="post" class="loginPage">
                            <div id="addDescription">
                                <h4>Add Review</h4>
                                <textarea name="description"></textarea>
                                <input type="hidden" name="id" value="@Model.HomeInfo.PropertyID" /> <br>
                                <button type="submit" class="addreview" style="width: 91px;">Add Review</button>
                            </div>
                        </form>

                        <p>
                          <h3>Agent Contact Info.</h3>
                            Name: @Model.AgentInfo.firstName @Model.AgentInfo.lastName  <br></br>
                            Address:  @Model.AgentInfo.street @Model.AgentInfo.city @Model.AgentInfo.state, @Model.AgentInfo.zipCode <br></br>
                            Phone Number:   @Model.AgentInfo.phoneNumber <br></br>
                            Email: @Model.AgentInfo.email <br></br>
                        </p>

                        <p>
                            <h3>Agent Company Info</h3>
                            Company Name: @Model.AgentCompanyInfo.CompanyName<br></br>
                            Address:  @Model.AgentCompanyInfo.Street @Model.AgentCompanyInfo.City @Model.AgentCompanyInfo.State, @Model.AgentCompanyInfo.ZipCode<br></br>
                            Phone Number: @Model.AgentCompanyInfo.PhoneNumber<br></br>
                            Email: @Model.AgentCompanyInfo.Email<br></br>
                        </p>

                    </div>


                </div>
            }
            else
            {
                <p>No home data available to display.</p>
            }
        </div>
    </div>

</body>
</html>
