@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Finial_Project_RealEstateWebPage.Models.HomeInfo

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;

    ViewData["Title"] = "RelatorPage";
}

<!DOCTYPE html>

<html>
<head>
    <title>
        DashBord
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/nav.css" />
</head>

<body>
    <header>
        <nav class="custom-navbar">
            <div class="container">
                <a class="brand">Mr.Home's</a>
                <ul class="nav-links">
                    <li><a href="#"> Schedule Home Showing </a></li>
                    <li><a href="#"> Make an Offers</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="homeDashboard">
        <div class="row">
            @if (Model.BuildingNumber != null)
            {
               // var home = (HomeInfo)ViewBag.RelatorHome;
                <!-- Explicitly cast ViewBag -->
                <div class="property">
                    <div class="card-body">
                        <p class="card-text">
                            <h1>@Model.AskingPrice.ToString("C2") </h1>
                            <h2> @Model.BuildingNumber @Model.Street, @Model.City, @Model.State, @Model.ZipCode</h2>
                            <h3>
                                @Model.BedRooms <strong>beds </strong> @Model.BathRooms <strong>baths </strong> @Model.HomeSize <strong>sqft </strong> <br />
                            </h3>

                        </p>
                        <p class="card-text">
                          Property Type: @Model.PropertyType <br/>
                          Built in @Model.YearBuilt <br/>
                          Heating Type: @Model.Heating<br/>
                          Cooling Type: @Model.Cooling<br/>
                          Grage: @Model.Garage<br>
                        </p>

                        <h4>Avliable Amenities</h4>
                        @if (Model.HomeAmenities != null)
                        {
                            <ul>
                                @foreach (var amenity in Model.HomeAmenities.SelectedAmenities)
                                {
                                    <li>@amenity</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>No amenities available.</p>
                        }
                        <h4>Avliable Utility</h4>
                        @if (Model.HomeUtility != null)
                        {
                            <ul>
                                @foreach (var utility in Model.HomeUtility.SelectedUtility)
                                {
                                    <li>@utility</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>No utility available.</p>
                        }

                        <p>
                         Description<br/>
                         @Model.Description
                        </p>

                    </div>
                </div>
            }
            else
            {
                <p>No home data available to display.</p>
            }
        </div>
    </div>

</body>
</html>
