@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    ViewData["Title"] = "Security Questions";
}

<!DOCTYPE html>
<html>
<head>
    <title>Security Questions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Please answer your security questions.</h1>
    <br />
    <br />

@*         <div class="homeDashboard">
            <div class="row">
                @foreach (var question in (List<Finial_Project_RealEstateWebPage.Models.Question>)ViewBag.QuestionList)
                {
                    <div class="questions">
                        <div class="card-body">
                            <p class="card-text">
                                @question.Questions<br>
                                <input type="text" name="AnswerSecurityQuestion" /> <br />
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>


 *@
    <form asp-controller="AccountVerification" asp-action="VerifyUser" method="post" class="loginPage">
        <div class="homeDashboard">
            <div class="row">
                @if (ViewBag.QuestionList is List<Finial_Project_RealEstateWebPage.Models.Question> questions)
                {
                    for (int i = 0; i < questions.Count; i++)
                    {
                        var question = questions[i];
                        <div class="questions">
                            <div class="card-body">
                                <p class="card-text">
                                    @question.Questions<br>
                                    <input type="hidden" name="Questions[@i].QuestionId" value="@question.QuestionId" />
                                    <input type="hidden" name="Questions[@i].Questions" value="@question.Questions" />
                                    <input type="text" name="Questions[@i].Answer" placeholder="Your answer..." required /><br />
                                </p>
                            </div>
                        </div>
                    }
                }

                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.ErrorMessage
                    </div>
                }
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit Answers</button>
        </div>
    </form>


</body>
</html>
